table {
  font-size: 30px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th {
  background: #AFCDE7;
  color: white;
}

th, td {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  padding: 10px;
}

td {
  background: #D8E6F3;
}

.columnHead {
  position: relative;
  cursor: pointer;
}

.columnHead__arrow {
  position: absolute;
  transition: all .2s ease-in-out;
}

.columnHead__arrow_rotated {
  transform: rotate(-180deg);
}

.columnHead__arrow_display_none {
  display: none;
}

.columnHead_date {
  width: 220px;
}

.columnHead_quantity {
  width: 230px;
}

.columnHead_distance {
  width: 230px;
}
